/* highlight Styles */
#highlight
	height 150px
	overflow hidden
	position relative
	margin 0
	text-align left
	width 100%

	img
		border none 
		opacity 0
		position absolute 
		width 100%

#navegation
	top 10%
	position absolute 
	text-align center
	width 100%
	z-index 6 

	p
		display inline-block
		padding 0
		margin 0
		transition(all 0.8s ease-in-out)

		a
			border-radius(50%)
			background blanco
			display block
			height 5px
			display inline-block !important
			opacity 1
			padding 5px
			text-decoration none
			transition(all 0.5s ease-in-out)
			vertical-align middle !important
			width 4px
			
			span
				display none
	
	.selected
		a
			background rojo_ladrillo
			height 5px
			opacity 1
			width 5px
			
@media only screen and (min-width: 320px)
	#highlight
		height 200px 
		
@media only screen and (min-width: 420px)
	#highlight
		height 250px

@media only screen and (min-width: 520px)
	#highlight
		height 300px 

@media only screen and (min-width: 620px)
	#highlight
		height 350px 

@media only screen and (min-width: 720px)
	#highlight
		height 400px
		
	#navegation
		top 30%
		a
			color blanco
			font-family 'Fjord'
			height 0
			opacity 0
			padding 0
			transform(translateX(100px) translateY(-200px))
			text-shadow_lindo()
			text-transform uppercase
			visibility hidden
			width 0
				
		.selected
			a
				background rgba(0, 0, 0, .75)
				border-radius(5px)
				cursor default
				font-size 1.1em
				opacity 1
				padding 1em 2em
				height auto
				transform(translateX(0px) translateY(0px))
				visibility visible
				width auto
		
				span
					display block
		
@media only screen and (min-width: 820px)
	#highlight
		height 500px
	
@media only screen and (min-width: 1000px)
	#navegation
		.selected
			a
				font-size 1.5em
